/* Lab 4: Setting paragraph color */
/* Lab 5: Set the spacing and positioning of your paragraphs using their class(es). */
p {
 color: #9290f8;
 background-color: #efefef;}
/* paragraphs inside index.html */
.indexName{
  /* Color inside class overrides color above*/
  color:#000000;
  /* space, positioning */
  position: static;
  word-spacing: 10;
  width: 42%;
}
.graduationname{
  color:#000000;
  position: relative;
  word-spacing: 2;
  width: 69%;
}
.jobname{
  color:#000000;
  position: static;
  word-spacing: 2;
  margin: 10px;
  width: 92%;
}
.hobbyname{
  color:#000000;
  position: static;
  word-spacing: 2;
  margin: 10px;
  width: 42%;
}

/* paragraphs inside ne.html */
.meName{
  color:#000000;
  position: static;
  word-spacing: 2;
  margin: 4px;
  width: 36%;
}
.listname{
  color:#000000;
  position: static;
  word-spacing: 2;
  margin: 10px;
  width: 32%;
}
.imagename{
  color:#000000;
  text-align: center;
  font-style: italic;
  font-size: large;
  position: static;
  word-spacing: 2;
  margin: 10px;
  width: 42%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fae0fa;
  border-radius: 15%;
}

/* paragraphs inside contact.html */
.contactName{
  color:#000000;
  text-align: center;
  font-style: italic;
  font-size: large;
  position: static;
  word-spacing: 2;
  margin: 4px;
  width: 42%;
}
.instructionname{
  color:#000000;
  text-align: center;
  font-style: italic;
  font-size: large;
  position: static;
  word-spacing: 2;
  margin: 1px;
  width: 60%;

}

/* Lab 4: Height and width of your image using CSS only, remove HTML attributes */
/* Lab 5: Set the size, opacity, radius, and alignment of your image using CSS. Use an ID selector. */
#myImage {
  height: 50%;
  width: 80%;
  size: 100vh;
  opacity: 70%;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Lab 4: Border color, style, width, radius of at least one element */
h1 {
    border: 1px solid #8a9fff;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    width: 300px;
    display: flex;
    border-style: dotted;
    text-align: center;
}
#meh1{
  width: 40%;
}
#indexh1{
  width: 45%;
}
#contacth1{
  width: 50%;
}
#formh1{
  width: 35%;
}

/* Lab 4: Two additional CSS rules of your choice to your lists */
li {
text-decoration: underline;
word-spacing: 0.2em;}

/* Lab 4: CSS properties for links; */
a:link {
  color: darkred;
  text-decoration: none;}
a:hover {
  color: deeppink;
  text-decoration: underline;
  cursor: pointer;}
a:visited {
  color: blue;}
a:active {
  color: darkcyan;}

/*
Lab 4: place this inside the head of all html files

<link href="./mystyle.css"
  type="text/css"
  rel="stylesheet">
*/

/* Lab 5: Use CSS to position and style your form elements
(i.e. font, color, border, etc.). Use ID selectors. */
/* #ID, .class */
#contactFirstNameTR {
  background-color: #d3edfd;
}
#contactFirstNameTD {
  font: bold;
  color: #000000;
  border: 2px dotted;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
#contactLastNameTR {
  background-color: #d3edfd;
}
#contactLastNameTD {
  font: bold;
  color: #000000;
  border: 2px dotted;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
#contactEmailTR {
  background-color: #d3edfd;
}
#contactEmailTD {
  font: bold;
  color: #000000;
  border: 2px dotted;
  border-bottom: 2px solid;
  border-top: 2px solid;
  width: 150px;
}
input[type=submit] {
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 75px;
  color: purple;
}
input[type=reset] {
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 80px;
  color: purple;
}

